/* ******* Fuentes inicio ****** */

@font-face {
    font-family: "allura";
    src: url(../font/allura/Allura-Regular.otf);
}

@font-face {
    font-family: "montserrat";
    src: url(../font/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Fragment_Mono";
    src: url(../font/Fragment_Mono/FragmentMono-Regular.ttf);
}

/* ******* Fuentes fin ****** */

body {
    margin:0;
    padding:0;
    /* overflow:hidden;  */
}

.flex-center {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#contenedor-portada {
    color: #ffffff;
    text-shadow: black 0.1em 0.1em 0.3em;
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    background:url(../IMG/baby.svg);
    background-size: contain;
    /* background-attachment: fixed; */
}

#contenedor-cinta {
    color: #ffffff;
    text-shadow: black 0.1em 0.1em 0.2em;
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    background:url(../IMG/fondo_oso.png);
    background-size: 100% 100%;
    /* background-attachment: fixed; */
    margin-top: -20px;
}

.uno{
    background-color: #ffc7db;
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    background:url(../IMG/blanco.png);
    background-size: 100% 100%;
}

/* .blanco{
    background-color: #ffffff;
    z-index: 2;
} */

.flex-center-blanco {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    background:url(../IMG/pink.png);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}



/* .tres{
    width: 90%;
    background-color:floralwhite;
    margin-top: -30px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
    z-index: 1;
} */

.tres{
    background-color: #ffffff;
    width: 80%;
    background-repeat:no-repeat;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background:url(../IMG/2.png);
    background-size: 100% 100%;
    margin-top: -20px;
    z-index: 1;
}

#fondo {
    /* opacity: 0%; */
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background:url(../IMG/1.png);
    background-size: contain;
    /* background-attachment: fixed; */
    transition: all 3000ms ease;
}

.img-portada{
    width: 50%;
    height: 50%;
}

.titulo {
    font-family: 'allura';
    font-size: 40px;
    width: 100%;
}

.tituloMedium {
    font-family: 'allura';
    font-size: 30px;
    width: 100%;
}

.texto-large {
    font-size: 30px;
    font-weight: 500;
    font-family: 'Fragment_Mono';
    width: 90%;
}

.comillas{
   font-size: 90px;
   font-family: 'Fragment_Mono';
   margin-top: -10px;
   margin-bottom: -30px;
   color: #D4AF37;
}

.texto-medium {
    font-size: medium;
    font-family: "Fragment_Mono";
    font-weight: 400;
    width: 90%;
}

.padr{
    width: 100%;
}

.dresscode{
    background-color: #fbfcfcc0;
    margin-top: -50px;
}


.asistencia{
    /* background-image: url("/IMG/3.svg"); */
    /* width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -40px; */

    color: #000000;
    /* text-shadow: black 0.1em 0.1em 0.2em; */
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    background:url(../IMG/3.svg);
    background-size: contain;
}


.linea {
    border-top: 1px solid rgba(0, 0, 0, 0.378);
    height: 2px;
    width: 100%;
    padding: 0;
    margin-top: 0%;
    margin-bottom: 0%;
}

/* ************ Cuenta regresiva inicio *********** */

#cuenta {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-family: "Fragment_Mono";
    font-size: x-small;
}

.simply-section {
    margin: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000097;
    padding: 7px;
    border-radius: 10%;
}

.simply-amount {
    display: block;
    font-size: large;
}

/* ************ Cuenta regresiva fin *********** */

.agendar{
    width: 15%;
    margin-top: 25px;
    margin-bottom: 10px;
    border-radius: 50%;
    padding: 10px;
    transition: all 600ms ease;
    transform: scale(0.90);
}

.agendar:hover{
    background-color: rgba(169, 169, 169, 0.265);
    cursor: pointer; 
    transform: scale(1);
    box-shadow: 0 0 10px rgba(142, 140, 177, 0.5);
}

.img{
    width: 80%;
    border-radius: 1%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    margin-top: 20px;
    margin-bottom: 20px;
}

.mesa{
    background-color: #FBFCFC;
    width: 90%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.ico{
    width: 50%;
    height: auto;
    margin-bottom: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
    margin: 30px;
}

a:link, a:visited {
    text-decoration: none;
    font-family: "Fragment_Mono";
    color: black;
    font-weight: bold;
}

.button{
    font-size: large;
    font-family: "Fragment_Mono";
    background-color:beige;
    /* border-radius: 5%; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    padding: 10px;
    transition: all 600ms ease;
    transform: scale(0.90);
    margin-bottom: 20px;
}

.button:hover{
    background-color: rgba(169, 169, 169, 0.265);
    cursor: pointer; 
    transform: scale(1);
}

.dress-h{
    width: 72%;
}

.dress-m{
    width: 35%;
}

.contacto{
    width: 30%;
    transition: all 600ms ease;
    transform: scale(0.90);
}

.contacto:hover{
    cursor: pointer; 
}

.flex-row{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

#carta {
    display: none;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background:url(../IMG/boda/fondo2.svg);
    background-size:contain;
    position: absolute; 
}

.carta-arriba{
    position: absolute; 
    width: 90%;
    margin: auto;
    z-index: 1;
    transition: all 2500ms ease;
}

.carta-abajo{
    position: absolute; 
    width: 90%;
    margin: auto;    
    transition: all 2500ms ease;
}

.abrir{
    position: absolute; 
    z-index: 1;
    margin-top: 45%;
    color: black;
    background-color: rgba(215, 186, 174, 0.573);
    border-radius: 20%;
    border-color: transparent;
    font-family: "allura";
    font-size: larger;
    transition: all 2500ms ease;
}

.abrir:hover{
    background-color: rgba(81, 81, 81, 0.406);
    cursor: pointer;
    transform: scale(1);
}

.icono{
    width: 15%;
}

.hash{
    background-color: rgba(142, 145, 145, 0.552);
    width: 95%;
    color: #ffffff;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.hashtag{
    font-size: larger;
    font-weight: bolder;
}

.linea-lef{
    border-top: 1.5px solid rgb(0, 0, 0);
    height: 2px;
    width: 30%;
    padding: 0;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 60%;
}

.linea-lef{
    border-top: 1px solid rgb(0, 0, 0);
    height: 2px;
    width: 30%;
    padding: 0;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 60%;
    
}.linea-right{
    border-top: 1px solid rgb(0, 0, 0);
    height: 2px;
    width: 30%;
    padding: 0;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 60%;
}

.social{
    width: 35%;
    margin: 10px;
    transition: all 600ms ease;
    transform: scale(0.90);
}

.social:hover{
    cursor: pointer; 
    transform: scale(1.1);
}

.deseos{
    background-image: url("/IMG/boda/deseos.jpeg");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;
}

.name, .msj{
    background: rgba(255, 245, 245, 0.575);
    color: #393939;
    padding: 5px;
    margin-bottom: 20px;
    border: #00000097;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.msj{
    height: 100px;
}

.link{
    width: 100%;
}

.medio{
    width: 60%;
}

.carrusel{
    background-color: #635f5f75;
    width: 90%;
    padding: 50px;
}

.prev{
    margin-right: -auto;
}

.carousel-control-prev{
   margin-left: -15%;
}

.carousel-control-next{
    margin-right: -15%;
}

.carousel-indicators{
    margin-bottom: -15%;
}